<div class="container-fluid">
    <div>
        <h1 class="custom-header">Sale</h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#salebill">Billing</a></li>
        <li><a data-toggle="tab" href="#salesearch">History</a></li>

    </ul>
</div>


<div class="tab-content">
    <div id="salebill" class="row-gap tab-pane fade in active">
        <salebill></salebill>
    </div>
    <div id="salesearch" class=" row-gap tab-pane fade">
        <salesearch></salesearch>
    </div>
</div>

