################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlackSmithCore/obj/Debug/netcoreapp2.0
/BlackSmithDBConnect/obj/Debug/netcoreapp2.0
/BlackSmithViewModels/obj/Debug/netcoreapp2.0
/packages
