################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlackSmithCore/obj
/BlackSmithDBConnect/obj
/packages
/BlackSmithCore/bin
/BlackSmithDBConnect/bin
/BlackSmithViewModels/obj
/BlackSmithViewModels/bin
/BlackSmithCore/bin/Debug
/BlackSmithDBConnect/bin/Debug
/BlackSmithViewModels/bin/Debug