<div class="container-fluid">
    <div>
        <h1 class="custom-header">Production</h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#productionentry">Entry</a></li>
        <li><a data-toggle="tab" href="#productionsearch">History</a></li>

    </ul>
</div>


<div class="tab-content">
    <div id="productionentry" class="row-gap tab-pane fade in active">
        <productionentry></productionentry>
    </div>
    <div id="productionsearch" class=" row-gap tab-pane fade">
    </div>
</div>

