USE [master]
GO
/****** Object:  Database [BlackSmith]    Script Date: 5/13/2019 9:41:18 AM ******/
CREATE DATABASE [BlackSmith]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlackSmith', FILENAME = N'd:\DB\MSSQL11.MSSQLSERVER\MSSQL\DATA\BlackSmith.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlackSmith_log', FILENAME = N'd:\DB\MSSQL11.MSSQLSERVER\MSSQL\DATA\BlackSmith_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlackSmith].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlackSmith]
GO
/****** Object:  Table [dbo].[tCustomer]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[ContactNo] [nvarchar](200) NULL,
	[EmailId] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[GSTIN] [nvarchar](500) NULL,
	[PAN] [nvarchar](500) NULL,
 CONSTRAINT [PK_tCustomer_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tInventoryItem]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInventoryItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Availibility] [float] NOT NULL,
 CONSTRAINT [PK_tInventoryItem_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tProduct]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Image] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Availibility] [float] NOT NULL,
 CONSTRAINT [PK_tProduct_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tProduction]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduction](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tProduction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tProductionInventoryItem]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProductionInventoryItem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FK_ProductionId] [bigint] NOT NULL,
	[FK_InventoryItemId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tProductionInventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tProductionProduct]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProductionProduct](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FK_ProductionId] [bigint] NOT NULL,
	[FK_ProductId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tProductionProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPurchase]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPurchase](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Discount] [float] NULL,
	[CGSTRate] [float] NULL,
	[CGSTTax] [float] NULL,
	[Note] [nvarchar](2000) NULL,
	[PurchaseId] [nvarchar](2000) NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[SGSTRate] [float] NULL,
	[SGSTTax] [float] NULL,
	[Total] [float] NULL,
	[PaymentTerm] [nvarchar](50) NULL,
	[DispatchThru] [nvarchar](50) NULL,
	[FinalTotal] [float] NULL,
	[FK_SuplierId] [bigint] NOT NULL,
 CONSTRAINT [PK_tPurchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPurchaseDetail]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPurchaseDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fk_InventoryItemId] [bigint] NOT NULL,
	[Fk_PurchaseId] [bigint] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [float] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tPurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPurchasePayment]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPurchasePayment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fk_PurchaseId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[Note] [nvarchar](2000) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[PaymentDate] [datetime] NULL,
 CONSTRAINT [PK_tPurchasePayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSale]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSale](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fk_CustomerId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[BillId] [nvarchar](max) NOT NULL,
	[CGSTRate] [float] NOT NULL,
	[SGSTRate] [float] NOT NULL,
	[CGSTTax] [float] NOT NULL,
	[Discount] [float] NULL,
	[Note] [nvarchar](2000) NULL,
	[BillDate] [datetime] NOT NULL,
	[Total] [float] NOT NULL,
	[FinalTotal] [float] NOT NULL,
	[SGSTTax] [float] NOT NULL,
	[PaymentTerm] [nvarchar](500) NULL,
	[DispatchThru] [nvarchar](500) NULL,
 CONSTRAINT [PK_tSale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSaleDetail]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSaleDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fk_SaleId] [bigint] NOT NULL,
	[Fk_ProductId] [bigint] NOT NULL,
	[Price] [float] NULL,
	[Quantity] [float] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tSaleDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSalePayment]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSalePayment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fk_SaleId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[Note] [nvarchar](2000) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tSalePayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSuplier]    Script Date: 5/13/2019 9:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSuplier](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](2000) NULL,
	[ContactNo] [nvarchar](500) NULL,
	[EmailId] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_tSuplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tCustomer] ON 

INSERT [dbo].[tCustomer] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [GSTIN], [PAN]) VALUES (3, N'sdg', N'cb', N'12133', N'qwre@ff.com', CAST(N'2018-06-14T01:07:41.517' AS DateTime), 0, CAST(N'2018-06-14T01:07:41.517' AS DateTime), 0, 1, NULL, NULL)
INSERT [dbo].[tCustomer] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [GSTIN], [PAN]) VALUES (4, N'jbg', N'svsdgsgsg
fgdfg
dfg
dfh
dfh
gfhhhjjjjjjjjjjjjjjjjjjjjjjjjjjjjj', N'123456', N'sdfsdf@gmail.comfff', CAST(N'2018-06-15T09:54:47.437' AS DateTime), 0, CAST(N'2018-06-15T09:54:47.437' AS DateTime), 0, 0, N'wwerewrt', N'wrgervr')
INSERT [dbo].[tCustomer] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [GSTIN], [PAN]) VALUES (5, N'dvkhvvvc', N'sfxb', N'fg', N'f', CAST(N'2018-06-15T10:10:49.250' AS DateTime), 0, CAST(N'2018-06-15T10:10:49.250' AS DateTime), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tCustomer] OFF
SET IDENTITY_INSERT [dbo].[tInventoryItem] ON 

INSERT [dbo].[tInventoryItem] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Availibility]) VALUES (1, N'test', N'sdfsdf', CAST(N'2018-06-14T01:33:07.243' AS DateTime), 0, CAST(N'2018-06-14T01:33:07.243' AS DateTime), 0, 0, 0)
INSERT [dbo].[tInventoryItem] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Availibility]) VALUES (2, N't', N'zxc', CAST(N'2018-07-11T23:28:03.970' AS DateTime), 0, CAST(N'2018-07-11T23:28:03.970' AS DateTime), 0, 1, 0)
INSERT [dbo].[tInventoryItem] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Availibility]) VALUES (3, N't3', N'asdasdasd   fffff', CAST(N'2018-07-12T00:59:10.997' AS DateTime), 0, CAST(N'2018-07-12T00:59:10.997' AS DateTime), 0, 0, 0)
SET IDENTITY_INSERT [dbo].[tInventoryItem] OFF
SET IDENTITY_INSERT [dbo].[tProduct] ON 

INSERT [dbo].[tProduct] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Image], [Price], [Availibility]) VALUES (1, N'Chokh Khat', N'zcx', CAST(N'2018-07-12T00:29:12.013' AS DateTime), 0, CAST(N'2018-07-12T00:29:12.013' AS DateTime), 0, 0, NULL, 1155, 0)
INSERT [dbo].[tProduct] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Image], [Price], [Availibility]) VALUES (2, N'Ball Khat', N'as', CAST(N'2018-07-12T00:29:54.480' AS DateTime), 0, CAST(N'2018-07-12T00:29:54.480' AS DateTime), 0, 0, NULL, 33, 0)
INSERT [dbo].[tProduct] ([Id], [Name], [Description], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Image], [Price], [Availibility]) VALUES (3, N'Design Khat', N'adfsdf', CAST(N'2018-07-12T01:05:49.107' AS DateTime), 0, CAST(N'2018-07-12T01:05:49.107' AS DateTime), 0, 0, NULL, 22, 0)
SET IDENTITY_INSERT [dbo].[tProduct] OFF
SET IDENTITY_INSERT [dbo].[tPurchase] ON 

INSERT [dbo].[tPurchase] ([Id], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Discount], [CGSTRate], [CGSTTax], [Note], [PurchaseId], [PurchaseDate], [SGSTRate], [SGSTTax], [Total], [PaymentTerm], [DispatchThru], [FinalTotal], [FK_SuplierId]) VALUES (1, CAST(N'2019-04-27T17:20:19.337' AS DateTime), 0, CAST(N'2019-04-27T17:20:19.337' AS DateTime), 0, 0, 0, 9, 1.08, NULL, NULL, CAST(N'2019-04-27T17:20:19.363' AS DateTime), 9, 1.08, 12, NULL, NULL, 14.16, 0)
INSERT [dbo].[tPurchase] ([Id], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Discount], [CGSTRate], [CGSTTax], [Note], [PurchaseId], [PurchaseDate], [SGSTRate], [SGSTTax], [Total], [PaymentTerm], [DispatchThru], [FinalTotal], [FK_SuplierId]) VALUES (2, CAST(N'2019-04-27T17:36:32.127' AS DateTime), 0, CAST(N'2019-04-27T17:36:32.127' AS DateTime), 0, 0, 10, 9, 0.09, NULL, NULL, CAST(N'2019-04-27T17:36:32.160' AS DateTime), 9, 0.09, 1, N'Cash', N'1', -8.82, 0)
INSERT [dbo].[tPurchase] ([Id], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [Discount], [CGSTRate], [CGSTTax], [Note], [PurchaseId], [PurchaseDate], [SGSTRate], [SGSTTax], [Total], [PaymentTerm], [DispatchThru], [FinalTotal], [FK_SuplierId]) VALUES (3, CAST(N'2019-04-27T17:45:24.137' AS DateTime), 0, CAST(N'2019-04-27T17:45:24.137' AS DateTime), 0, 0, 23, 9, 0.36, NULL, NULL, CAST(N'2019-04-27T17:45:24.167' AS DateTime), 9, 0.36, 4, N'Cash', NULL, -18.28, 0)
SET IDENTITY_INSERT [dbo].[tPurchase] OFF
SET IDENTITY_INSERT [dbo].[tPurchaseDetail] ON 

INSERT [dbo].[tPurchaseDetail] ([Id], [Fk_InventoryItemId], [Fk_PurchaseId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (1, 1, 3, 2, 2, 0, CAST(N'2019-04-27T17:45:24.137' AS DateTime), 0, CAST(N'2019-04-27T17:45:24.137' AS DateTime), 0)
INSERT [dbo].[tPurchaseDetail] ([Id], [Fk_InventoryItemId], [Fk_PurchaseId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (2, 1, 4, 5, 2, 0, CAST(N'2019-04-27T17:46:24.157' AS DateTime), 0, CAST(N'2019-04-27T17:46:24.157' AS DateTime), 0)
INSERT [dbo].[tPurchaseDetail] ([Id], [Fk_InventoryItemId], [Fk_PurchaseId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (3, 1, 5, 2, 2, 0, CAST(N'2019-05-04T11:22:01.600' AS DateTime), 0, CAST(N'2019-05-04T11:22:01.600' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tPurchaseDetail] OFF
SET IDENTITY_INSERT [dbo].[tPurchasePayment] ON 

INSERT [dbo].[tPurchasePayment] ([Id], [Fk_PurchaseId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (1, 4, 1, NULL, 0, CAST(N'2019-04-27T19:25:08.937' AS DateTime), 0, CAST(N'2019-04-27T19:25:08.937' AS DateTime), 0, CAST(N'2019-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[tPurchasePayment] ([Id], [Fk_PurchaseId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (2, 4, 2, NULL, 0, CAST(N'2019-04-27T19:31:14.790' AS DateTime), 0, CAST(N'2019-04-27T19:31:14.790' AS DateTime), 0, CAST(N'2019-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[tPurchasePayment] ([Id], [Fk_PurchaseId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (10002, 5, 1, NULL, 0, CAST(N'2019-05-04T11:22:31.987' AS DateTime), 0, CAST(N'2019-05-04T11:22:31.987' AS DateTime), 0, CAST(N'2019-05-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tPurchasePayment] OFF
SET IDENTITY_INSERT [dbo].[tSale] ON 

INSERT [dbo].[tSale] ([Id], [Fk_CustomerId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [BillId], [CGSTRate], [SGSTRate], [CGSTTax], [Discount], [Note], [BillDate], [Total], [FinalTotal], [SGSTTax], [PaymentTerm], [DispatchThru]) VALUES (22, 4, CAST(N'2019-03-02T18:41:39.453' AS DateTime), 0, CAST(N'2019-03-02T18:41:39.453' AS DateTime), 0, 0, N'BS-2', 9, 9, 1.17, 0, NULL, CAST(N'2019-03-02T18:41:41.793' AS DateTime), 13, 15.34, 1.17, NULL, NULL)
INSERT [dbo].[tSale] ([Id], [Fk_CustomerId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [BillId], [CGSTRate], [SGSTRate], [CGSTTax], [Discount], [Note], [BillDate], [Total], [FinalTotal], [SGSTTax], [PaymentTerm], [DispatchThru]) VALUES (174, 4, CAST(N'2019-03-13T00:49:35.540' AS DateTime), 0, CAST(N'2019-03-13T00:49:35.540' AS DateTime), 0, 0, N'BS-3', 9, 9, 1.44, 0, NULL, CAST(N'2019-03-13T00:49:35.573' AS DateTime), 16, 18.88, 1.44, NULL, NULL)
INSERT [dbo].[tSale] ([Id], [Fk_CustomerId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [BillId], [CGSTRate], [SGSTRate], [CGSTTax], [Discount], [Note], [BillDate], [Total], [FinalTotal], [SGSTTax], [PaymentTerm], [DispatchThru]) VALUES (176, 4, CAST(N'2019-03-16T13:01:57.927' AS DateTime), 0, CAST(N'2019-03-16T13:01:57.927' AS DateTime), 0, 0, N'BS-4', 9, 9, 0, 0, NULL, CAST(N'2019-03-16T13:11:24.337' AS DateTime), 0, 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tSale] OFF
SET IDENTITY_INSERT [dbo].[tSaleDetail] ON 

INSERT [dbo].[tSaleDetail] ([Id], [Fk_SaleId], [Fk_ProductId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (111, 22, 1, 1, 2, 0, CAST(N'1988-10-10T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[tSaleDetail] ([Id], [Fk_SaleId], [Fk_ProductId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (112, 174, 1, 4, 4, 0, CAST(N'2019-03-13T00:49:35.540' AS DateTime), 0, CAST(N'2019-03-13T00:49:35.540' AS DateTime), 0)
INSERT [dbo].[tSaleDetail] ([Id], [Fk_SaleId], [Fk_ProductId], [Price], [Quantity], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted]) VALUES (114, 176, 1, 0, 0, 0, CAST(N'2019-03-16T13:01:57.930' AS DateTime), 0, CAST(N'2019-03-16T13:01:57.930' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tSaleDetail] OFF
SET IDENTITY_INSERT [dbo].[tSalePayment] ON 

INSERT [dbo].[tSalePayment] ([Id], [Fk_SaleId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (3, 22, 2, NULL, 0, CAST(N'2019-03-06T23:21:39.443' AS DateTime), 0, CAST(N'2019-03-06T23:21:39.443' AS DateTime), 0, CAST(N'2019-03-06T00:00:00.000' AS DateTime))
INSERT [dbo].[tSalePayment] ([Id], [Fk_SaleId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (4, 22, 2, NULL, 0, CAST(N'2019-03-06T23:21:39.443' AS DateTime), 0, CAST(N'2019-03-06T23:21:39.443' AS DateTime), 0, CAST(N'2019-03-06T00:00:00.000' AS DateTime))
INSERT [dbo].[tSalePayment] ([Id], [Fk_SaleId], [Amount], [Note], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn], [IsDeleted], [PaymentDate]) VALUES (5, 22, 1, NULL, 0, CAST(N'2019-03-13T00:56:47.940' AS DateTime), 0, CAST(N'2019-03-13T00:56:47.940' AS DateTime), 0, CAST(N'2019-03-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tSalePayment] OFF
SET IDENTITY_INSERT [dbo].[tSuplier] ON 

INSERT [dbo].[tSuplier] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted]) VALUES (1, N'sdg', N'asd', N'12133', N'qwre@ff.com', CAST(N'2018-06-14T01:33:07.243' AS DateTime), 0, CAST(N'2018-06-14T01:33:07.243' AS DateTime), 0, 0)
INSERT [dbo].[tSuplier] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted]) VALUES (2, N'srmb', N'ry', N'ty', N'erydy', CAST(N'2018-06-15T15:50:52.453' AS DateTime), 0, CAST(N'2018-06-15T15:50:52.453' AS DateTime), 0, 0)
INSERT [dbo].[tSuplier] ([Id], [Name], [Address], [ContactNo], [EmailId], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted]) VALUES (3, N'zdz', N'df', N'cfxfh', N'tamajit.das@www.vom', CAST(N'2018-06-19T00:01:31.360' AS DateTime), 0, CAST(N'2018-06-19T00:01:31.360' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[tSuplier] OFF
ALTER TABLE [dbo].[tCustomer] ADD  CONSTRAINT [DF_tCustomer_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tInventoryItem] ADD  CONSTRAINT [DF_tInventoryItem_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tInventoryItem] ADD  CONSTRAINT [DF_tInventoryItem_Availibility]  DEFAULT ((0)) FOR [Availibility]
GO
ALTER TABLE [dbo].[tProduct] ADD  CONSTRAINT [DF_tProduct_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tProduct] ADD  CONSTRAINT [DF_tProduct_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[tProduct] ADD  CONSTRAINT [DF_tProduct_Availibility]  DEFAULT ((0)) FOR [Availibility]
GO
ALTER TABLE [dbo].[tProduction] ADD  CONSTRAINT [DF_tProduction_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tProductionInventoryItem] ADD  CONSTRAINT [DF_tProductionInventory_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tProductionInventoryItem] ADD  CONSTRAINT [DF_tProductionInventory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tProductionProduct] ADD  CONSTRAINT [DF_tProductionProduct_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tProductionProduct] ADD  CONSTRAINT [DF_tProductionProduct_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tPurchase] ADD  CONSTRAINT [DF_tPurchase_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tPurchase] ADD  CONSTRAINT [DF_tPurchase_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[tPurchase] ADD  CONSTRAINT [DF_tPurchase_GSTRate]  DEFAULT ((0)) FOR [CGSTRate]
GO
ALTER TABLE [dbo].[tPurchase] ADD  CONSTRAINT [DF_tPurchase_GSTAmount]  DEFAULT ((0)) FOR [CGSTTax]
GO
ALTER TABLE [dbo].[tPurchase] ADD  CONSTRAINT [DF_tPurchase_FK_SuplierId]  DEFAULT ((0)) FOR [FK_SuplierId]
GO
ALTER TABLE [dbo].[tPurchaseDetail] ADD  CONSTRAINT [DF_tPurchaseDetail_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tPurchasePayment] ADD  CONSTRAINT [DF_tPurchasePayment_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tSale] ADD  CONSTRAINT [DF_tSale_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tSale] ADD  CONSTRAINT [DF_tSale_GSTRate]  DEFAULT ((0)) FOR [CGSTRate]
GO
ALTER TABLE [dbo].[tSale] ADD  CONSTRAINT [DF_tSale_GSTAmount]  DEFAULT ((0)) FOR [CGSTTax]
GO
ALTER TABLE [dbo].[tSale] ADD  CONSTRAINT [DF_tSale_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[tSaleDetail] ADD  CONSTRAINT [DF_tSaleDetail_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tSalePayment] ADD  CONSTRAINT [DF_tSalePayment_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tSuplier] ADD  CONSTRAINT [DF_tSuplier_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[tProductionInventoryItem]  WITH CHECK ADD  CONSTRAINT [FK_tProductionInventoryItem_tInventoryItem] FOREIGN KEY([FK_InventoryItemId])
REFERENCES [dbo].[tInventoryItem] ([Id])
GO
ALTER TABLE [dbo].[tProductionInventoryItem] CHECK CONSTRAINT [FK_tProductionInventoryItem_tInventoryItem]
GO
ALTER TABLE [dbo].[tProductionInventoryItem]  WITH CHECK ADD  CONSTRAINT [FK_tProductionInventoryItem_tProduction] FOREIGN KEY([FK_ProductionId])
REFERENCES [dbo].[tProduction] ([Id])
GO
ALTER TABLE [dbo].[tProductionInventoryItem] CHECK CONSTRAINT [FK_tProductionInventoryItem_tProduction]
GO
ALTER TABLE [dbo].[tProductionProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProductionProduct_tProduct] FOREIGN KEY([FK_ProductId])
REFERENCES [dbo].[tProduct] ([Id])
GO
ALTER TABLE [dbo].[tProductionProduct] CHECK CONSTRAINT [FK_tProductionProduct_tProduct]
GO
ALTER TABLE [dbo].[tProductionProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProductionProduct_tProduction] FOREIGN KEY([FK_ProductionId])
REFERENCES [dbo].[tProduction] ([Id])
GO
ALTER TABLE [dbo].[tProductionProduct] CHECK CONSTRAINT [FK_tProductionProduct_tProduction]
GO
ALTER TABLE [dbo].[tPurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_tPurchaseDetail_tInventoryItem] FOREIGN KEY([Fk_InventoryItemId])
REFERENCES [dbo].[tInventoryItem] ([Id])
GO
ALTER TABLE [dbo].[tPurchaseDetail] CHECK CONSTRAINT [FK_tPurchaseDetail_tInventoryItem]
GO
ALTER TABLE [dbo].[tPurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_tPurchaseDetail_tPurchase] FOREIGN KEY([Fk_PurchaseId])
REFERENCES [dbo].[tPurchase] ([Id])
GO
ALTER TABLE [dbo].[tPurchaseDetail] CHECK CONSTRAINT [FK_tPurchaseDetail_tPurchase]
GO
ALTER TABLE [dbo].[tPurchasePayment]  WITH CHECK ADD  CONSTRAINT [FK_tPurchasePayment_tPurchase] FOREIGN KEY([Fk_PurchaseId])
REFERENCES [dbo].[tPurchase] ([Id])
GO
ALTER TABLE [dbo].[tPurchasePayment] CHECK CONSTRAINT [FK_tPurchasePayment_tPurchase]
GO
ALTER TABLE [dbo].[tSale]  WITH CHECK ADD  CONSTRAINT [FK_tSale_tCustomer] FOREIGN KEY([Fk_CustomerId])
REFERENCES [dbo].[tCustomer] ([Id])
GO
ALTER TABLE [dbo].[tSale] CHECK CONSTRAINT [FK_tSale_tCustomer]
GO
ALTER TABLE [dbo].[tSaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_tSaleDetail_tProduct] FOREIGN KEY([Fk_ProductId])
REFERENCES [dbo].[tProduct] ([Id])
GO
ALTER TABLE [dbo].[tSaleDetail] CHECK CONSTRAINT [FK_tSaleDetail_tProduct]
GO
ALTER TABLE [dbo].[tSaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_tSaleDetail_tSale] FOREIGN KEY([Fk_SaleId])
REFERENCES [dbo].[tSale] ([Id])
GO
ALTER TABLE [dbo].[tSaleDetail] CHECK CONSTRAINT [FK_tSaleDetail_tSale]
GO
ALTER TABLE [dbo].[tSaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_tSaleDetail_tSaleDetail] FOREIGN KEY([Id])
REFERENCES [dbo].[tSaleDetail] ([Id])
GO
ALTER TABLE [dbo].[tSaleDetail] CHECK CONSTRAINT [FK_tSaleDetail_tSaleDetail]
GO
ALTER TABLE [dbo].[tSalePayment]  WITH CHECK ADD  CONSTRAINT [FK_tSalePayment_tSale] FOREIGN KEY([Fk_SaleId])
REFERENCES [dbo].[tSale] ([Id])
GO
ALTER TABLE [dbo].[tSalePayment] CHECK CONSTRAINT [FK_tSalePayment_tSale]
GO
USE [master]
GO
