.custom-header {
    text-align: center;
    background: #4f5b69;
    color: white;
    font-size: 20px;
    min-height: 30px;
}

.row-gap {
    padding-top : .5em;
}
.inputText {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #cdc9c9;
}

.width-5em {
    width: 5em;
}

.text-color-green {
    color : green;
}

.vl {
    border-left: 2px solid #cdc9c9;
    padding:4px;
}
.text-color-red {
    color: red;
}

.text-bolder {
    font-weight: bolder;
}
/*dropdown customer start*/
.height-30px {
    height: 30px;
}
/*dropdown custom end*/

tbody {
    display: block;
    max-height: 350px;
    overflow: auto;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc( 100% - 1em )
}
